.News {
    padding-right: 20px;
    h3 {
        font-size: 15px;
        font-weight: 700;
    }
    h3:hover {
        color: #087cce;
    }
    .Content {
        display: flex;
        padding-top: 10px;
        img {
            width: 40%;
        }
        p {
            padding-left: 10px;
        }
    }
    .dot {
        border: 1px solid #e5e5e5;
        margin: 15px 0px;
    }
}
