.popular {
    width: 100%;

    .title {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        div {
            display: inline-block;
            padding: 10px 0;
            border-bottom: 1px solid #b52759;
        }
    }
    .items {
        height: 400px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .item {
            padding-right: 7px;
            padding-bottom: 7px;
            margin-bottom: 7px;
            width: 50%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e5e5e5;
            div {
                color: #222;
                font-size: 48px;
                padding: 10px;
                font-weight: 700;
            }
            a {
                text-decoration: none;
                color: #222;
                &:hover {
                    color: #087cce;
                }
            }
        }
        .border_right {
            border-right: 1px solid #e5e5e5;
        }
    }
    .items_ex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item_ex {
            width: 47%;
            display: flex;
            align-items: center;
            img {
                width: 200px;
                height: 150px;
                object-fit: cover;
                margin-right: 5px;
            }
            div {
                .title_ex {
                    font-size: 17px;
                    font-weight: 600;
                }
                p {
                    text-align: justify;
                }
            }
        }
    }
}
